*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(/images/bunner.jpg);
    height: 70vh;
}
nav{
    float: right;
}
body{
    color: whitesmoke;
    background-color: #000000;
}
h1,h4,h5{
    font-family: monospace;
}
img{
    float: left;
}
footer{
    background-color: #545252;
    margin-top: -100px;
    clear: both;
}