*{
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url(/images/bunner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.banner h1{
    font-size: 50px;
}

.banner a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

button{
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    padding: 9px 25px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

body{
    color: whitesmoke;
    background-color: #000000;
}

h1,h4,h5{
    font-family: monospace;
}

img{
    float: left;
    padding: 20px 20px 20px 200px;
}

footer{
    background-color: #545252;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}